@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:wght@300;400;500&display=swap');

/* font-family: 'Nanum Gothic', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: var(--grey-color);
}

